@model ContactViewModel

<div class="wrapper">
  <div class="sidebar">
    <div class="sidebar-header">
      <img src="@ViewBag.Header.ProfilePicturePath" alt="Image" />
    </div>
    <div class="sidebar-content">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a href="#" class="navbar-brand">Navigation</a>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#header"
                >Home<i class="fa fa-home"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about"
                >About<i class="fa fa-address-card"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#education"
                >Education<i class="fas fa-graduation-cap"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#experience"
                >Experience<i class="fa fa-star"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#service"
                >Service<i class="fa fa-tasks"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio"
                >Portfolio<i class="fa fa-file-archive"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact"
                >Contact<i class="fa fa-envelope"></i
              ></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="sidebar-footer">
      @foreach (var linkIcon in ViewBag.Contact.LinkIcons) {
      <a class="btn" href="@linkIcon.Url"
        ><i class="@linkIcon.IconClass"></i
      ></a>
      }
    </div>
  </div>
  <div class="content">
    <!-- Header Start -->
    <div class="header" id="header">
      <div class="content-inner">
        <p>I'm</p>
        <h1>@ViewBag.Header.Name</h1>
        <h2></h2>
        <div class="typed-text">@ViewBag.Header.TypedText</div>
      </div>
    </div>

    <!-- Large Button Start -->
    <div class="large-btn">
      <div class="content-inner">
        <a class="btn" href="@ViewBag.Header.CvPath"
          ><i class="fa fa-download"></i>Resume</a
        >
        <a class="btn" href="#contact"
          ><i class="fa fa-hands-helping"></i>Hire Me</a
        >
      </div>
    </div>
    <!-- Large Button End -->

    @if (ViewBag.AboutMe != null) {
    <div class="about" id="about">
      <div class="content-inner">
        <div class="content-header">
          <h2>About Me</h2>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6 col-lg-5">
            <img
              src="@ViewBag.AboutMe.ProfilePicturePath"
              alt="Profile Picture"
            />
          </div>
          <div class="col-md-6 col-lg-7">
            <p>@ViewBag.AboutMe.Description</p>
            <a class="btn" href="#contact">Hire Me</a>
          </div>
          <div class="row">
            <style>
              .progress {
                position: relative;
              }

              .progress .progress-label {
                position: absolute;
                top: 0;
                right: 0;
                background-color: transparent;
                color: black;
                padding: 3px 8px;
                border-radius: 4px;
              }
            </style>
            <div class="col-md-6">
              <div class="skills">
                @if (ViewBag.AboutMe.Skills != null &&
                ViewBag.AboutMe.Skills.Count > 0) { var halfCount =
                (int)Math.Ceiling(ViewBag.AboutMe.Skills.Count / 2.0); var count
                = 0; foreach (var skill in ViewBag.AboutMe.Skills) { if (count
                >= halfCount) { break; }
                <div class="skill-name">
                  <p>@skill.Name</p>
                  <p class="progress-label">@skill.Value%</p>
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: @skill.Value%"
                      aria-valuenow="@skill.Value"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
                count++; } } else {
                <p>No skills found.</p>
                }
              </div>
            </div>
            <div class="col-md-6">
              <div class="skills">
                @if (ViewBag.AboutMe.Skills != null &&
                ViewBag.AboutMe.Skills.Count > 0) { var halfCount =
                (int)Math.Ceiling(ViewBag.AboutMe.Skills.Count / 2.0); var count
                = 0; foreach (var skill in ViewBag.AboutMe.Skills) { if (count <
                halfCount) { count++; continue; }
                <div class="skill-name">
                  <p>@skill.Name</p>
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: @skill.Value%"
                      aria-valuenow="@skill.Value"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <span class="progress-label">@skill.Value%</span>
                </div>
                } } else {
                <p>No skills found.</p>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    } else {
    <p>About Me information not found.</p>
    }
    <style>
      .skill-name {
        position: relative;
      }

      .progress-label {
        position: absolute;
        top: 0;
        right: 0;
      }
    </style>
    <!-- About End -->

    <!-- Education Start -->
    <div class="education" id="education">
      <div class="content-inner">
        <div class="content-header">
          <h2>Education</h2>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6">
            @foreach (var education in ViewBag.FirstHalfEducations) {
            <div class="edu-col">
              <span
                >@education.StartDate.ToString("MM/yyyy") -
                @education.EndDate.ToString("MM/yyyy")</span
              >
              <h3>@education.Degree</h3>
              <p>@education.SchoolName</p>
              <p>@education.Field</p>
            </div>
            }
          </div>
          <div class="col-md-6">
            @foreach (var education in ViewBag.SecondHalfEducations) {
            <div class="edu-col">
              <span
                >@education.StartDate.ToString("MM/yyyy") -
                @education.EndDate.ToString("MM/yyyy")</span
              >
              <h3>@education.Degree</h3>
              <p>@education.SchoolName</p>
              <p>@education.Field</p>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <!-- Education Start -->

    <div class="experience" id="experience">
      <div class="content-inner">
        <div class="content-header">
          <h2>Experience</h2>
        </div>
        <div class="row align-items-center">
          @foreach (var experience in ViewBag.Experiences) {
          <div class="col-md-6">
            <div class="exp-col">
              <span
                >@experience.StartDate.ToString("MM/yyyy") -
                @experience.EndDate.ToString("MM/yyyy")</span
              >
              <h3>@experience.Position</h3>
              <h4>@experience.CompanyName</h4>
              <h5>@experience.Description</h5>
              <h6>@experience.City</h6>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
    <!-- Experience End -->

    <!-- Service Start -->
    <div class="service" id="service">
      <div class="content-inner">
        <div class="content-header">
          <h2>Services</h2>
        </div>
        <div class="row align-items-center">
          @foreach (var service in ViewBag.Services) {
          <div class="col-md-6">
            <div class="srv-col">
              <img
                src="@service.IconPicturePath"
                style="width: 30px; height: 30px"
                alt="@service.ServiceName"
              />
              <h3>@service.ServiceName</h3>
              <p>@service.Description</p>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
    <!-- Service Start -->

    <!-- Portfolio Start -->
    <div class="portfolio" id="portfolio">
      <div class="content-inner">
        <div class="content-header">
          <h2>Portfolio</h2>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              @foreach (var category in ViewBag.Category) {
              <li data-filter=".@category.CategoryId">@category.Name</li>
              }
            </ul>
          </div>
        </div>
        <div class="row portfolio-container">
          @foreach (var item in ViewBag.Portfolio) {
          <div class="col-lg-4 col-md-6 portfolio-item @item.Category">
            <div class="portfolio-wrap">
              <figure>
                <img
                  src="@item.ImageUrl"
                  class="img-fluid"
                  alt="@item.ProjectName"
                />
                <a
                  href="@item.ImageUrl"
                  class="link-preview"
                  data-lightbox="portfolio"
                  data-title="@item.ProjectName"
                  title="Preview"
                >
                  <i class="fa fa-eye"></i>
                </a>
                <a
                  href="posts/details/@item.URL"
                  class="link-details"
                  title="More Details"
                >
                  <i class="fa fa-link"></i>
                </a>
                <a class="portfolio-title" href="#">
                  @item.ProjectName <span>@item.Category</span>
                </a>
              </figure>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
    <!-- Portfolio Start -->

    <!-- Review Start -->
    <!-- <div class="review" id="review">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Review</h2>
                        </div>
                        <div class="row align-items-center review-slider">
                            <div class="col-md-12">
                                <div class="review-slider-item">
                                    <div class="review-text">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu suscipit orci. Donec molestie velit id libero blandit, quis suscipit urna suscipit. Donec aliquet erat eu lacinia iaculis. Ut tempor tellus eu sem pharetra feugiat.
                                        </p>
                                    </div>
                                    <div class="review-img">
                                        <img src="img/review-1.jpg" alt="Image">
                                        <div class="review-name">
                                            <h3>Client Name</h3>
                                            <p>Profession</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="review-slider-item">
                                    <div class="review-text">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu suscipit orci. Donec molestie velit id libero blandit, quis suscipit urna suscipit. Donec aliquet erat eu lacinia iaculis. Ut tempor tellus eu sem pharetra feugiat.
                                        </p>
                                    </div>
                                    <div class="review-img">
                                        <img src="img/review-2.jpg" alt="Image">
                                        <div class="review-name">
                                            <h3>Client Name</h3>
                                            <p>Profession</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="review-slider-item">
                                    <div class="review-text">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu suscipit orci. Donec molestie velit id libero blandit, quis suscipit urna suscipit. Donec aliquet erat eu lacinia iaculis. Ut tempor tellus eu sem pharetra feugiat.
                                        </p>
                                    </div>
                                    <div class="review-img">
                                        <img src="img/review-3.jpg" alt="Image">
                                        <div class="review-name">
                                            <h3>Client Name</h3>
                                            <p>Profession</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
    <!-- Review End -->

    <!-- Contact Start -->
    <div class="contact" id="contact">
      <div class="content-inner">
        <div class="content-header">
          <h2>Contact</h2>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="contact-info">
              <p><i class="fa fa-user"></i>@ViewBag.Contact.Name</p>
              <p><i class="fa fa-tag"></i>@ViewBag.Contact.Job</p>
              <p>
                <i class="fa fa-envelope"></i
                ><a href="mailto:@ViewBag.Email">@ViewBag.Contact.Email</a>
              </p>
              <p>
                <i class="fa fa-map-marker"></i>@ViewBag.Contact.Localization
              </p>
              <div class="social">
                @foreach (var linkIcon in ViewBag.Contact.LinkIcons) {
                <a class="btn" href="@linkIcon.Url"
                  ><i class="@linkIcon.IconClass"></i
                ></a>
                }
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form">
              <form asp-action="Contact" method="post">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input
                      asp-for="Name"
                      class="form-control"
                      placeholder="Your Name"
                    />
                    <span asp-validation-for="Name" class="text-danger"></span>
                  </div>
                  <div class="form-group col-md-6">
                    <input
                      asp-for="Email"
                      class="form-control"
                      placeholder="Your Email"
                    />
                    <span asp-validation-for="Email" class="text-danger"></span>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    asp-for="Subject"
                    class="form-control"
                    placeholder="Subject"
                  />
                  <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                  <textarea
                    asp-for="Message"
                    class="form-control"
                    rows="5"
                    placeholder="Message"
                  ></textarea>
                  <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div>
                  <button type="submit" class="btn">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>

<script>
  $(document).ready(function () {
    // Form submit olduğunda
    $("form").submit(function (e) {
      e.preventDefault(); // Sayfanın yeniden yüklenmesini önle

      // Form verilerini al
      var formData = {
        Name: $("#Name").val(),
        Email: $("#Email").val(),
        Subject: $("#Subject").val(),
        Message: $("#Message").val(),
      };

      // Ajax isteği gönder
      $.ajax({
        type: "POST",
        url: "/Home/Contact", // İsteğin gönderileceği controller action
        data: formData,
        success: function (response) {
          showCustomToast("Mail sent successfully!");
          setTimeout(function () {
            window.location.reload();
          }, 2000);
          // Formu temizle veya başka bir işlem yapabilirsiniz
        },
        error: function (xhr, status, error) {
          showCustomToast(
            "An error occurred while sending mail: " + xhr.responseText
          );
        },
      });
    });
  });
</script>
